# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sourcec\Auto_GirlsFrontline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
